@page "/"
@inject TokenProvider tokenProvider
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Welcome, @Username!</h1>
You can only see this content if you're authenticated.
<br />
<img src="@Picture">

<div>IdToken: @IdToken</div>
<div>AccessToken: @AccessToken</div>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private string Username = "";
    private string Picture = "";
    private string IdToken = "";
    private string AccessToken = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateTask;

        Username = state.User.Identity.Name ?? string.Empty;
        IdToken = tokenProvider.IdToken;
        AccessToken = tokenProvider.AccessToken;

        Picture = state.User.Claims
            .Where(c => c.Type.Equals("picture"))
            .Select(c => c.Value)
            .FirstOrDefault() ?? string.Empty;

        await base.OnInitializedAsync();
    }
}

